/*This will affect everything on the entire page*/
*{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #71a2b6;
    border: 0%;
}

/* This cluster is for the header, any text on it, and the nav bar*/
header{
    padding: 60px;
    height: 200px;
    text-align: center;
    background:#282828;
    color: #282828;
    font-size: 30px;
}
header h1{
    border: 5px;
    padding: 10px;
    border-style: double;
    border-color: #F5FFC6;
    background-color: #71a2b6;
}

nav li{
    position: relative;
    top: 60px;
    display: inline;
    border: 5px;
    padding: 10px;
    font-size: 50px;
    border-style: double;
    border-color: #F5FFC6;
    background-color: #71a2b6;
}

nav li:hover{
    cursor: pointer;
    color: aqua;
}

/*This cluster will be for the three main sections of the page*/
article section{
    text-align: center;
    padding: 1%; 
}
h2{
    font-size: 75px;
    background-color: aquamarine;
    border: 10px solid;
    border-style: double;
    border-color: #282828;
}
p{
    font-size: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}
img {
    border: 10px solid;
    border-color: #282828;
}
.imgTitle{
    border: solid;
    color: aquamarine;
    border-color: #282828;
    background-color: #282828;
}
/*This changes the nav bar to fit smaller screens*/
@media screen and (max-width: 1019px) {
    header{
        height: fit-content;
        border-bottom: 10px;
    }
    nav li{
    display: block;    
    }
    
}